* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}

header {
  margin-bottom: 20px;
}
header h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  text-align: center;
}

nav {
  margin-bottom: 20px;
  text-align: center;
}
nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
}
nav a:hover {
  text-decoration: underline;
}

/* 1. Aktivera Flexbox på behållaren */
.content-columns {
  display: flex; /* Gör det till en flexbehållare */
  gap: 30px; /* Lägger till lite utrymme mellan kolumnerna */
  margin: 20px 0; /* Lägger till lite marginal ovan och under */
  padding: 0 20px; /* Lägger till lite luft på sidorna */
}

/* 2. Definiera bredden för kolumnerna */
.column-left,
.column-right {
  /* Gör att båda kolumnerna tar upp lika mycket utrymme (50/50) */
  flex: 1;
}
.column-right-anime {
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  flex: 1 0 auto;
}

.om-mig {
  text-align: center;
  margin-bottom: 20px;
}

section {
  margin-bottom: 30px;
}
section h2 {
  font-size: 2em;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  margin-bottom: 15px;
  text-align: center;
}
section h3 {
  padding-bottom: 5px;
  margin-bottom: 15px;
  text-align: center;
}
section p {
  margin-bottom: 10px;
}

.profile-picture {
  max-width: 500px;
  height: auto;
  border-radius: 8px;
  margin-top: 4rem;
}

@media (max-width: 768px) {
  .content-columns {
    flex-direction: column; /* Ändra riktningen till en kolumn på små skärmar */
  }
}

/* Justering för responsivitet om bilden blir för stor */
@media (max-width: 768px) {
  .profile-image-container {
    order: -1; /* Flyttar bilden ovanför texten på mobila enheter */
    margin-bottom: 20px; /* Lite extra utrymme under bilden */
  }
}

footer {
  text-align: center;
  font-size: 0.9em;
  color: #777;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  margin-top: 20px;
  margin-bottom: 0;
}
